/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
/*Always Added*/
*{padding:0;margin:0;box-sizing:border-box;}

/*Body*/
body{
    background-image: url("/img/casinoTable.jpg");
    background-size: cover;
    font-family: 'Quicksand', sans-serif;
    height: 100vh;
}

/*Navigation*/
nav{
    background-color: azure;
    padding: 1em 0;
    text-align: center;
}
/*Navigation Anchor*/
nav a {
    text-decoration: none;
    color: darkgreen;
}

/*Main Header*/
h2{
    font-size: 62px;
    text-align: center;
    color:gold;
    padding: 1em 0 0 0;
}

/*Main Section*/
main{
    padding: 1em;
    margin-top: 5em;
    border: 2px solid yellow;

}

/*Start Button*/
#startButtonContainer{
    display: flex;
    justify-content: center;
}
#startButton{
    padding: 12px 24px;
    color: darkgreen;
    margin-top: .5em;
    background-color: gold;
    font-size: 32px;
    font-weight: 800;
    border-radius: 10px;
}

#playerSection{
    margin-top: 3em;
}
.playerName{
    color: azure;
    font-weight: 500;
    font-size: 24px;
}
.cardHolder{
    text-align: center;
}
.numCards{
    font-size: 42px;
    text-align: center;
    font-weight: 800;
    color: azure;
    padding:0 .1em;
}

/*Message Container*/
#messageContainer{
    padding-top: 2em;
}
/*Message*/
#message{
    text-align: center;
    color: azure;
}

/*Button Container*/
#buttonContainer{
    margin-top: 3em;
    display: flex;
    justify-content: space-around;
}

/*Stay Button  & Hit Button*/
#stayButton, #hitButton{
    padding: 12px 24px;
    background-color: darkseagreen;
    border: 2px solid azure;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
}
/*Stay Button*/
#stayButton{
    background-color: indianred;
}

/*Ace Container*/
#aceContainer{
    display: flex;
    justify-content: space-around;

}
/*One & Eleven Number Card*/
#oneCard, #elevenCard{
    padding: 12px 24px;
    background-color: azure;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: darkslategrey;
}

#playerAmountDisplay{
    color: azure;
    font-size: 14px;
    text-align: center;
    padding-top: 1em;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: azure;
    color: darkslategrey;
    text-align: center;
}


/*When the screen is larger than 600px*/
@media only screen and (min-width: 600px) {
    h2{
        padding: 1em 0;
    }
    main{
        width: 420px;
        height: fit-content;
        margin: 0 auto;
    }

    .numCards{
        font-size: 62px;
    }
}